
.quiz-button {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  
}

.quiz-button.show {
  opacity: 1;
}
/* Add this CSS to your QuizList.css file */
.button-row {
  display: flex;
  justify-content: space-between; /* Align buttons horizontally with equal space between them */
  margin-top: 10px; /* Add some space between the buttons and the card content */
}

.quiz-button {
  /* Style your buttons as needed */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.quiz-button:hover {
  /* Add hover effect */
  background-color: #0056b3;
}

.bottombuttons{
  display: flex;
  justify-content: space-between;
}
.slider-card-container {
  padding: 10px; /* Adjust the padding to add space between the cards */
}

.slick-slide {
  display: flex;
  justify-content: center;
}

.bottombuttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.quiz-button {
  display: none;
}

.quiz-button.show {
  display: inline-block;
}

.card {
  margin: 10px; /* Adjust the margin to add space around the cards */
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .button-row {
    flex-direction: column; /* Stack buttons vertically */
    align-items: stretch; /* Stretch buttons to full width */
  }

  .quiz-button {
    width: 100%; /* Full width for buttons */
    margin-top: 5px; /* Adjust margin between buttons */
  }

  .bottombuttons {
    flex-direction: column; /* Stack bottom buttons vertically */
    align-items: stretch; /* Stretch buttons to full width */
  }

  .card {
    margin: 5px 0; /* Adjust margin for cards */
  }

  .slider-card-container {
    padding: 5px; /* Adjust padding for card container */
  }
}