.toolbar_container {
  position: relative;
  width: calc(100% - 2.5rem); /* Adjusted width */
  height: 7.5rem;

  top: 0.5rem;
  /* Other styles remain the same */
  position:fixed;
  z-index: 9999;
}


.toolbar {
  display: flex;
  margin-top: 10px;
  
  padding: .75rem;
  border-radius: .5rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.15);
  width: calc(100% - 2.5rem);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.toolbarc1{
  background-color: #46178F;
}
.toolbarc2{
  background-color: #287109;
}
.toolbarc3{
  background-color: #900505;
}
.toolbarc4{
  background-color: #0f2c84;
}



.toolbar-active{
  visibility: visible;
}
.toolbar__logo {
  max-height: 5rem;
  min-width: 7.75rem;
  max-width: 7.75rem;
  width: auto;
}

.toolbar__switcher {
  width: 4.5rem;
  min-width: 4.5rem;
}
.toolbar__section {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 1rem;
}
.toolbar__buttons {
  max-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
}

.toolbar__switcher__item--active {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.toolbar__switcher__item {
  display: inline-block;
  width: auto;
  padding: .25rem .5rem;
  border-radius: .25rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: .75rem;
  text-align: left;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-decoration: none;
  cursor: pointer;
}
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slide_container_inner{
  
  height: 85px;
  touch-action: pan-y;
  overflow: hidden;
  position: relative;
  height: 100%;
}
.flickity-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px; 
  transform: translateX(-93.87%);

}
.toolbar_tile{
width: 9.0625rem;
height: 5.3125rem;
display: inline-block;
margin: 0.5rem;
position: absolute;
left: 0;
}

.toolbar__tile{
  border-radius: 1rem;
  width: 180px;
  height: 100px;
  border-radius: 1rem;

}


   .toolbar__tile:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;

   }
.toolbar__section__box-shadow--left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: .5rem;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.35)));
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
}
.toolbar__section__box-shadow--right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: .5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.35)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
}


.toolbar__tile img{
object-fit: contain;

  width: 180px;
  height: 100px;
  border-radius: 1rem;
  padding: 1rem;
} 
.footermain {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
  text-align: center;
  padding: 10px 0; /* Adjust padding as needed */
}


@media screen and (max-width: 768px) { /* Adjust max-width as per your mobile breakpoint */
  .toolbar_container {
    display: none;
  }
}
