.srt {
  display: flex;
    height: 100%;
    

}
.questiontext {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: url(//assets-cdn.kahoot.it/builder/v2/assets/business_default-da04c7ff.jpg) center center / cover no-repeat rgb(242, 242, 242);
  flex: 1 1 calc(100% - 2* clamp(16px, 2vmin, 48px));
  padding: 32px clamp(16px, 2vmin, 48px) 48px;
  max-height: calc(100% - 2* clamp(16px, 2vmin, 48px));
  margin-left: 12rem;
} 

@media screen and (max-width: 920px) {

.questiontext {
    padding: 32px 16px 16px;
    flex: 1 1 calc(100% - 2* clamp(16px, 2vmin, 48px));
    margin: 0px;
}
}